* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  #root {
    width: 90vw;
    height: 100vh;
    vertical-align: middle;
    margin: 0 auto;
    h1 {
      padding: 20px;
      text-align: center;
      font-size: 40px;
    }
    .container {
      width: 1280px;
      margin: 0 auto;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      .article {
        text-align: center;
        line-height: 100px;
        text-decoration: none;
        font-size: 20px;
        color: aliceblue;
        background-color: #555;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
