<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./src/styles/style.css" />
    <title>stopwatch</title>
  </head>
  <body>
    <div id="root">
      <div class="container">
        <div class="screen">00:00:00</div>
        <div class="btns">
          <!-- <button class="btn btn-laps">Laps</button> -->
          <button class="btn btn-reset">리셋</button>
          <button class="btn btn-start">시작</button>
        </div>
        <ul class="lapsCount"></ul>
      </div>
    </div>
    <script src="./src/js/index.js"></script>
  </body>
</html>
